<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="index.js"></script>
    <script src="server1.js"></script>
    <link rel="stylesheet" href="/css/loginstyle.css">
    <title>Login Page</title>
    
</head>
<body>
    
    
    <form id="Main-Containerv" action="/login" method="post">
        
        <div class="float-parent-element">
            <div class="float-child-element1">

              <div class="red ">
                <h1 id="Welcome">Welcome Back,</h1>
                <h3>Login to your account</h3>
                <p id="label">Email</p>
                <div  class="input-icons">
                    
                    <p id="form" class = "inputWithIcon">
                        
                        <i class="validation fa fa-envelope icon"></i>
                    
                        <input class="input-field" type="email" id="email" name="username" placeholder="Enter Email" required>
                    </p>
                    <p id="padd">Please include “@” in the email address</p>
                    <p id="label">Enter Password</p>
                    
                    <p id="form" class = "inputWithIcon">
                        <i class=" fa fa-lock icon" ></i>
                        <input name="password" class="input-field" type="password" id="#id_password" placeholder="Password" required>
                        <i class="fa fa-eye icon" onclick="myFunction()" id="togglePassword"></i>
                    </p>
                    <br>
                    <p class="remember">
                        <input class="remember2"  type="checkbox" onclick="myFunction()">Remember Me
                    </p>
                    <button type="submit" value="login" class=" button">Login</button>
                    <p id="label">
                        Forgot Password ?   <a href="forgotpassword.html">Click here</a>                      
                    </p>
                    <p id="label">
                        Dont Have an account ? <a href="/register">Create an account</a>
                    </p>
                </div>
                
              </div>
            </div>
            <div class="float-child-element2">
                <img src="images/Rectangle1862.png" id="sed" alt="sedan">
              
            </div>
          </div>

    </form>
    
    
</body>
</html>