.header {
	gap: 1rem;
	align-items: center;
	width: 85%;
	text-align: center;
	margin: 3rem auto;
}

.heading {
	color: var(--primary-light);
	font-size: 2rem;
}

.subheading {
	margin-bottom: 3rem;
}

.wrapper {
	flex-direction: column-reverse !important;
	justify-content: space-between;
}

#qrImg {
	width: 100%;
	aspect-ratio: 1;
}

.overlay {
	border-radius: 5px;
}

.box {
	border: 1px solid black;
	width: 80%;
	height: 200px;
	margin: 0 auto;
	color: black;
	font-weight: 600;
	margin-bottom: 1.5rem;
}

.buttons {
	gap: 1rem;
	display: none;
}

.buttons,
#qrImg {
	display: none;
}

select {
	padding: 0.4rem;
}

button {
	border: none;
}

form {
	margin: 0 auto;
	gap: 1rem;
}
.form-group {
	gap: 0.3rem;
}

label {
	font-weight: 500;
}

input {
	padding: 0.7rem;
	font-family: inherit;
	border-radius: 5px;
}

.form-submit {
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin: 3rem auto;
	margin-top: 2rem;
}
.save-qr {
	border: 1px solid #1768ef;
	border-radius: 10px;
	color: #1768ef;
	padding: 0.7rem 1rem;
	width: 80%;
	margin: 0 auto;
}

.generate-qr {
	background: #1768ef;
	color: white;
	border-radius: 10px;
	border: 0;
	width: auto;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.7rem 1rem;
}

.generate-qr img {
	width: 20px;
}

@media (min-width: 768px) {
	.wrapper {
		flex-direction: row-reverse !important;
		width: 70% !important;
		gap: 2rem;
	}

	.container {
		width: 60%;
	}

	.overlay {
		width: 40%;
		translate: 0 12%;
	}

	.buttons {
		width: 80%;
		margin: 0 auto;
		flex-direction: row !important;
		justify-content: space-between;
	}

	.subheading {
		margin-bottom: 3rem;
	}

	.form-submit {
		flex-direction: row !important;
	}
	.save-qr {
		width: auto;
	}

	.generate-qr {
		width: auto;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		width: 60%;
	}

	.overlay {
		width: 30%;
	}
}
