/* some basic setups */

* {
    /* for all elements */
    box-sizing: border-box;
    font-family: Roboto;
  }
  /* color theme and variables */
  :root {
    --accentColor: #ad3869;
    --headerColor: #444444;
    --paragraphColor: #626262;
    --ease: all 0.4s ease;
    --radius: 6px;
  }
  
  body {
    margin: 0;
    padding: 0px;
    font-family: "Inter", sans-serif;
    color: var(--headerColor);
    padding: 0px 20px;
    background-color: #F5F5F5;
  }


  .float-parent-element { 
    width: 100%; 
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
} 
.float-child-element1 { 
     
}
.float-child-element2 { 
   
}
.mein { 
     
    margin-left: 30%; 
    
    height: 100px; 
} 
.red { 
     
    margin-left: 50%; 
    height: 100px; 
} 
.yellow { 
    margin-left: 50%; 
    height: 100px; 
    background-color: yellow; 
}
#Welcome{
    color: #1768EF;
}
.remember {
    margin-left: 0;
    margin-top: 3px;
}
.remember2 {
    margin-left: 0;
    font-size: 10px;
}
#label {
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 10px;
}
#form {
    margin-bottom: 0;
    margin-top: 5px;
}
#padd {
    margin-bottom: 5px;
    font-size: 10px;
}
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
    min-width: 50px;

    color: #aaa;
}

  
.input-field {
    width: 350px;
    padding: 10px;
    color: #777777;
    margin: 0;
    outline: none;
}
.pass{
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 8px;
gap: 8px;

position: absolute;
width: 608px;
height: 60px;
left: 100px;
top: 577px;

/* Neutral colors/White */

background: #FEFEFE;
}
#togglePassword {
    margin-left: -30px; 
    cursor: pointer;
}
#btn {
    color: blue;
}
.button {
    width: 350px;
    height: 50px;
    background-color: #1768EF;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    margin-top: 30px;
  }
  
    
  .inputWithIcon input[type="email"] {  
    padding-left: 30px;  
  }  

  .inputWithIcon input[type="password"] {  
    padding-left: 30px;  
  }  
  .inputWithIcon input[type="text"] {  
    padding-left: 30px;  
  }
  .fa-eye {
    margin-right: 20px;
  }